#info-window
  #siteNotice
  %h1#firstHeading.firstHeading
    = @dojo.title
    %img{ :src => "/images/white-man.png" }
  %p#address
    = @dojo.address
  #tip
    = @dojo.tip
  #bodyContent
    %p
      %strong
        Horário:
        = @dojo.working_hour
    %p
      %strong
        Detalhes:
      %br
      = "Suporta: #{@dojo.purpose}."
      %br
      Capacidade: 
      = @dojo.capacity
