#info-window
  #siteNotice
  %h1#firstHeading.firstHeading
    = @dojo.place
    %img{ :src => "/images/dojo.png" }
  %p= @dojo.address
  %p= @dojo.directions
  #bodyContent
    %p
      %strong
        Horário:
        = @dojo.schedule
    %p= "Site: #{@dojo.site}"
    %p= "Grupo de discussão: #{@dojo.group}"
    %p= "Capacidade: #{@dojo.capacity}"
