#info-window
  #siteNotice
  %h1#firstHeading.firstHeading
    = @dojo.place
    %img{ :src => "/images/dojo.png" }
  %p= @dojo.address
  %p= @dojo.directions
  #bodyContent
    %p
      %strong
        Horário:
        = @dojo.schedule
    %p= "Site: #{link_to @dojo.site, @dojo.site if @dojo.site}"
    %p= "Grupo de discussão: #{link_to @dojo.group, @dojo.group if @dojo.group}"
    %p= "Capacidade: #{@dojo.capacity}"
